.message {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-height: 165px;
	width: fit-content;
	padding: 1em 2em;
	background: #fff;
	border-radius: 10px;
	transition: 0.5s;
    font-size: 12px;
    box-shadow: 4px 5px 15px 0px rgba(34, 60, 80, 0.2);
}

.message .message-title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 1.9em;
	line-height: 35px;
}

.message-text {
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 20px;
}

.message-image {
	width: 30%;
}

.message-content {
	width: 70%;
}


.message-image-content {
	display: table;
    width: 60px;
	height: 60px;
	float: left;
	background: url(../svg/message.svg);
}

.go-back {
	padding: 0 50px 0 20px;
	background: #81cbfb;
	color: #fff;
    transition: 0.3s linear;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 32px;
    float: left;
    border-radius: 10px;
}

.message:hover .go-back {
	background:#37acf9;
    cursor: pointer;
}