/*--Filtr buttons--*/

.filtr-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0 5px;
}

.sticker-container-filtr {
	padding: 1.5em 0.5em;
	width: 50%;
	text-align: center;
}

.sticker-filtr-content,
.sticker-drop-content {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.2s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-filtr-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.5em;
	content: "\f0b0";
	font-family: FontAwesome;
}

.sticker-drop-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.5em;
	content: "\f014";
	font-family: FontAwesome;
}

.sticker-drop,
.sticker-filtr {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-filtr:hover .sticker-filtr-content:before,
.sticker-drop:hover .sticker-drop-content:before {
	color: #2489cf;
}

.sticker-filtr:hover .sticker-filtr-content,
.sticker-drop:hover .sticker-drop-content {
	border-color: #2489cf;
}


/*--Plus&More--*/

.sticker-plus-content,
.sticker-more-content {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.2s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-plus-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px 10px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.5em;
	content: "\f097";
	font-family: FontAwesome;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-plus:hover .sticker-plus-content:before,
.sticker-more:hover .sticker-more-content:before {
	color: #2489cf;
}

.sticker-more,
.sticker-plus {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-more:hover .sticker-more-content,
.sticker-plus:hover .sticker-plus-content {
	border-color: #2489cf;
}


/*-Download button-*/

.sticker-download-content {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.2s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-download-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.4em;
	content: "\f02f";
	font-family: FontAwesome;
}

.sticker-download:hover .sticker-download-content:before {
	color: #2489cf;
}

.sticker-download {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-download:hover .sticker-download-content {
	border-color: #2489cf;
}


/*--Delete button--*/

.sticker-delete-content {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.2s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6.5px 6px;
	position: relative;
	margin: 0 auto;
	transition: 0.2s linear;
	font-size: 1.6em;
	content: "\f05e";
	font-family: FontAwesome;
}

.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete:hover .sticker-delete-content {
	border-color: #2489cf;
}

.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-delete {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete:hover .sticker-delete-content {
	border-color: #2489cf;
}


/*--Show--*/

.button-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.sticker-container-show {
	padding: 1.5em 0.3em;
	text-align: center;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	width: 20%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-begin-content:before,
.sticker-back-content:before,
.sticker-active-content:before,
.sticker-next-content:before,
.sticker-end-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 5px;
	position: relative;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.2em;
}

.sticker-begin-content:before {
	content: "\f100";
	font-family: FontAwesome;
}

.sticker-back-content:before {
	content: "\f104";
	font-family: FontAwesome;
}

.sticker-active-content {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 5px;
	position: relative;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.2em;
}

.sticker-next-content:before {
	content: "\f105";
	font-family: FontAwesome;
}

.sticker-end-content:before {
	content: "\f101";
	font-family: FontAwesome;
}

.sticker-show:hover .sticker-begin-content:before,
.sticker-show:hover .sticker-back-content:before,
.sticker-show:hover .sticker-active-content,
.sticker-show:hover .sticker-next-content:before,
.sticker-show:hover .sticker-end-content:before {
	color: #2489cf;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	min-width: 40px;
	width: fit-content;
	transition: 0.2s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 23px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-show:hover .sticker-begin-content,
.sticker-show:hover .sticker-back-content,
.sticker-show:hover .sticker-active-content,
.sticker-show:hover .sticker-next-content,
.sticker-show:hover .sticker-end-content {
	border-color: #2489cf;
}

.sticker-begin-content:before,
.sticker-back-content:before {
	left: -1px;
}

.sticker-next-content:before,
.sticker-end-content:before {
	left: 1px;
}


/*--Disabled link--*/

a.disabled {
	pointer-events: none;
	cursor: default;
}


/*--Upload button--*/

.upload-file {
	width: 100%;
	position: relative;
	margin: 15px 0;
	text-align: center;
}

.upload-file-input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.new-upload-file-input {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.upload-file-status {
    order: 2;
    width: 65%;
    padding: 0 10px 0 10px;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 32px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #81cbfb;
}

.upload-file-button {
    order: 1;
    width: 35%;
    padding: 0 10px 0 10px;
    background: #81cbfb;
    color: #fff;
    transition: 0.2s linear;
    font-size: 0.95em;
    font-weight: 500;
    line-height: 32px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.upload-file-button:hover {
	background: #37acf9;
}


/*--Edit button--*/

.sticker-edit {
	position: absolute;
	width: 38px;
	height: 38px;
	display: flex;
	float: right;
	border-radius: 25px;
	padding: 6px;
	transition: 0.2s linear;
}

.sticker-edit:before {
	display: flex;
	color: rgba(0, 0, 0, .3);
	float: right;
	font-size: 1.5em;
	content: "\f085";
	font-family: FontAwesome;
}

.sticker-edit:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .07);
}


/*--Save edit button--*/

.edit-buttons {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 1em 1em;
}

.edit-buttons-content {
	width: 50%;
}

.save-recipe, .delete-recipe{
    padding: 0 15px 0 15px;
    background: #81cbfb;
    color: #fff;
    transition: 0.2s linear;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 32px;
    border: none;
    border-radius: 10px;
}
.save-recipe:hover, .delete-recipe:hover {
	background: #37acf9;
	cursor: pointer;
}