/*--Plus&More--*/


.sticker-plus-content,
.sticker-more-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-plus-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px 10px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f097";
	font-family: FontAwesome;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-plus:hover .sticker-plus-content:before,
.sticker-more:hover .sticker-more-content:before {
	color: #2489cf;
}

.sticker-more,
.sticker-plus {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-more-content,
.sticker-plus-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-more:hover .sticker-more-content,
.sticker-plus:hover .sticker-plus-content {
	border-color: #2489cf;
}

/*--*/

.sticker-plus-content,
.sticker-download-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-plus-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px 10px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f097";
	font-family: FontAwesome;
}

.sticker-download-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.4em;
	content: "\f016";
	font-family: FontAwesome;
}

.sticker-plus:hover .sticker-plus-content:before,
.sticker-download:hover .sticker-download-content:before {
	color: #2489cf;
}

.sticker-download,
.sticker-plus {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-download-content,
.sticker-plus-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-download:hover .sticker-download-content,
.sticker-plus:hover .sticker-plus-content {
	border-color: #2489cf;
}

/*--More&Delete*/
.sticker-more-content,
.sticker-delete-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-delete-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6.5px 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.6em;
	content: "\f05e";
	font-family: FontAwesome;
}

.sticker-more:hover .sticker-more-content:before,
.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}.sticker-more:hover .sticker-more-content:before,
 .sticker-delete:hover .sticker-delete-content:before {
	 color: #2489cf;
 }

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}
/*--Show--*/
.button-show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.sticker-container-show {
	padding: 1.5em 0.3em;
	text-align: center;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	width: 20%;
	display: block;
	margin: 0 auto;
	position: relative;
}
.sticker-begin-content:before,
.sticker-back-content:before,
.sticker-active-content:before,
.sticker-next-content:before,
.sticker-end-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 5px;
	position: relative;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.2em;
}

.sticker-begin-content:before {
	content: "\f100";
	font-family: FontAwesome;
}
.sticker-back-content:before {
	content: "\f104";
	font-family: FontAwesome;
}
.sticker-active-content {
	display: block;
    color: rgba(0, 0, 0, .075);
    padding: 6px 5px;
    position: relative;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}
.sticker-next-content:before {
	content: "\f105";
	font-family: FontAwesome;
}
.sticker-end-content:before {

	content: "\f101";
	font-family: FontAwesome;
}



.sticker-show:hover .sticker-begin-content:before,
.sticker-show:hover .sticker-back-content:before,
.sticker-show:hover .sticker-active-content,
.sticker-show:hover .sticker-next-content:before,
.sticker-show:hover .sticker-end-content:before {
	color: #2489cf;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	min-width: 40px;
    width: fit-content;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 23px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-show:hover .sticker-begin-content,
.sticker-show:hover .sticker-back-content,
.sticker-show:hover .sticker-active-content,
.sticker-show:hover .sticker-next-content,
.sticker-show:hover .sticker-end-content {
	border-color: #2489cf;
}

.sticker-begin-content:before,
.sticker-back-content:before {
	left: -1px;
}
.sticker-next-content:before,
.sticker-end-content:before {
	left: 1px;
}









/**/

.upload-file {
	width: 100%;
	position: relative;
	margin: 15px 0;
	text-align: center;
  }
  
  .upload-file-input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
  }
  
  .new-upload-file-input {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
  }
  
  .upload-file-status {
	  order: 2;
	width: 65%;
	padding: 0 20px 0 20px;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 32px;
    border-left: none;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #81cbfb;
  }
  
  .upload-file-button {
	  order: 1;
	width: 35%;
	padding: 0 20px 0 20px;
    background: #81cbfb;
    color: #fff;
    transition: 0.3s linear;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 32px;
    border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
  }