.recipe-tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em 0;
}

.tag-content {
	padding: 0px 5px;
}

.tag {
    height: 25px;
    width: auto;
    padding: 0 20px 0 20px;
    color: black;
    transition: 0.3s linear;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 26px;
    background: #c4e7fd;
    border-radius: 10px;
    float: left;
}