footer {
	padding: 1em 0;
	background-color: #ecf0f4;
	text-align: center;
}

.autograph {
	max-width: 500px;
	margin: 0 auto;
}

.made-by {
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}

.authors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.f-p {
	width: 100%;
	font-family: 'Courgette', cursive;
	font-size: 2em;
}

.frontend,
.backend {
	width: 50%;
	font-size: 0.85em;
	font-weight: 600;
	color: rgba(0, 0, 0, .5);
	padding: 5px 45px;
}

.frontend {
	text-align: right;
}

.backend {
	text-align: left;
}