*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/*отключание системную подсветку ссылок при клике*/

* {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	color: black;
	overflow: visible;
	width: 100%;
	height: 100%;
	font-size: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f5f8f9;
}


/*--------------------------------*/

header:after,
.container:after,
footer:after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	width: 100%;
	position: absolute;
	padding: 35px 0;
	margin: 0 auto;
}

.header-container {
	padding: 0px 15px 0px 15px;
}

@media (min-width: 0) {
	.header-container {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 576px) {
	.header-container {
		max-width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 768px) {
	.header-container {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 992px) {
	.header-container {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 1200px) {
	.header-container {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

a {
	text-decoration: none;
	color: #000;
}

.menu-left a:hover,
a :focus {
	background-color: #ffff;
	-webkit-background-clip: text;
	/*background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
	
	-webkit-text-fill-color: transparent; */
}

.menu-left a {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	transition: color .25s ease;
}

.menu-left a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 2px;
	width: 0;
	transition: width 0s ease, background .35s ease;
}

.menu-left a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: -10px;
	height: 2px;
	width: 0;
	background: #000;
	transition: width .35s ease;
}

.menu-left a:hover:before {
	width: 100%;
	background: #000;
	transition: width .35s ease;
}

.menu-left a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .5rem 0;
	background-color: #fff;
	z-index: 3;
	will-change: transform;
	transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transform: translateY(0);
	-webkit-transform: translateY(0);
	box-shadow: 5px 5px 18px -2px rgba(34, 60, 80, 0.18);
}

header nav .logotype {
	font-family: Montserrat, sans-serif;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 1rem;
	font-size: 2.25rem;
	line-height: inherit;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}

@media (max-width: 769px) {
	header nav .logotype {
		font-size: 1.2rem;
		padding-top: 12px;
		padding-bottom: 0px;
	}
}

header nav .logotype:after {
	content: '';
	display: table;
	clear: both;
}

header nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

header nav ul li {
	float: none;
	margin-left: 0;
}

@media (min-width: 769px) {
	header nav ul li {
		float: left;
		margin-left: 1rem;
	}
}

header nav ul li a {
	display: block;
}

@media (min-width: 576px) {
	header nav ul li a {
		display: block;
		padding: .325rem 0rem;
	}
}

@media (max-width: 768px) {
	ul {
		clear: both;
	}
	.menu-left li {
		padding: .5em 0;
	}
}

.hide-nav {
	transform: translateY(-120%)!important;
	-webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
	display: block;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 10;
	padding: 2px 0;
}

@media (min-width: 769px) {
	ul.menu-left {
		display: block !important;
		float: right;
		max-height: none;
		padding: 15px 0;
	}
}

ul.menu-left:before {
	content: '';
	display: table;
	clear: both;
}

ul.menu-left.collapse {
	max-height: 15em !important;
}

.nav-toggle {
	display: block;
	border-radius: 5px;
	background-color: transparent;
	float: right;
	height: 38px;
	width: 38px;
	cursor: pointer;
	padding: 9px 9px;
}

.nav-toggle.open span:first-child {
	transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.nav-toggle.open span:last-child {
	transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 769px) {
	.nav-toggle {
		display: none;
	}
}

.nav-toggle span {
	position: relative;
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 4px;
	background-color: #000;
	transition: all .25s;
}

.search-form {
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	transition: all 1s;
	width: 50px;
	height: 50px;
	background: white;
	box-sizing: border-box;
	border-radius: 25px;
	border: 2px solid #000;
	padding: 5px;
}

.search-input {
	position: absolute;
	top: 2px;
	left: 0;
	width: 90%;
	height: 42.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 26px;
	padding: 0 20px;
}

.fa {
	box-sizing: border-box;
	padding: 10.3px;
	width: 39.5px;
	height: 39.5px;
	position: absolute;
	top: 3px;
	right: 3px;
	border-radius: 50%;
	color: #07051a;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

.search-form:hover {
	width: 250px;
	cursor: pointer;
}

.search-form:hover input {
	display: block;
}

.search-form:hover .fa {
	background: #07051a;
	color: white;
}

.content-box {
	margin: 100px auto;
	width: 100%;
	min-height: calc(100vh - 80px);
}

.main-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.saved-container {
	width: 100%;
}

.saved {
	float: left;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 4px 5px 15px 0px rgba(34, 60, 80, 0.2);
}

.saved-name {
	padding: 1em 1em;
	text-align: center;
	font-size: 1.2em;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 10px;
	order: 2;
	width: 70%;
}

.recipe-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 4px 5px 15px 0px rgba(34, 60, 80, 0.2);
}

.recipe-first-part {
	order: 1;
	width: 25%;
	padding: 1em 1em 0.5em 1em;
	border-right: 1px solid rgba(0, 0, 0, .075);
}

.dish-name {
	margin-bottom: 20px;
	text-align: center;
}

.dish-photo {
	margin-bottom: 5px;
}

.dish-photo img {
	width: 100%;
	border-radius: 10px;
}

.recipe-tags {
	display: flex;
	flex-wrap: wrap;
}

.tag-content {
	padding: 8px 5px;
}

.tag {
	height: 32px;
	width: auto;
	padding: 0 20px 0 20px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 32px;
	background: #87CEFA;
	border: 1px solid rgba(0, 0, 0, .075);
	border-radius: 10px;
}

.recipe-second-part {
	order: 2;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipe-description {
	width: 75%;
	order: 1;
	padding: 1em 1.5em;
	text-align: center;
}

.description-name {
	margin-bottom: 20px;
}

.description-text {
	text-align: start;
	line-height: 1.3em;
}

.recipe-characterisctics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .075);
	border-bottom: 1px solid rgba(0, 0, 0, .075);
}

.recipe-time,
.recipe-calories {
	display: block;
	position: relative;
}

.recipe-time:before {
	display: block;
	color: gold;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f017";
	font-family: FontAwesome;
}

.recipe-calories:before {
	display: block;
	color: gold;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f0e7";
	font-family: FontAwesome;
}

.recipe-time {
	width: 50%;
	border-right: 1px solid rgba(0, 0, 0, .075);
}

.recipe-time,
.recipe-calories {
	width: 50%;
	padding: 1em 1em;
}

.calories-name {
	margin-bottom: 20px;
	text-align: center;
}

.name-span {
	padding-top: 10px;
	width: 30%;
	margin: 0 auto;
	border-bottom: 1px solid rgb(183, 183, 183);
}

.recipe-buttons {
	order: 2;
	width: 25%;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.sticker-container {
	padding: 1em 1em;
	text-align: center;
}

.sticker-more-content,
.sticker-delete-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-delete-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.6em;
	content: "\f05e";
	font-family: FontAwesome;
}

.sticker-more:hover .sticker-more-content:before,
.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}.sticker-more:hover .sticker-more-content:before,
.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}

.gradient-barier {
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #adcae1 74%);
	width: 100%;
	height: 5px;
	margin-top: -3px;
}

footer {
	padding: 1em 0;
	background-color: #ecf0f4;
	text-align: center;
}

.made-by {
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}

.foxleren {
	font-family: 'Courgette', cursive;
	font-size: 2em;
}

.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	font-size: 1.25em;
}

.icons li {
	display: inline-block;
	padding: 0 3em 0 0;
}

.icons li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	border-bottom: none;
	position: relative;
	font-size: 1.65em;
}

.icons li a:hover {
	color: #ffff;
	transition: 0.35s ease;
}

.icon:before {
	font-family: 'Font Awesome 5 Brands';
}

@media(max-width: 968px) {
	.content-box {
		padding: 0 20px;
	}
	.list {
		width: 90%;
	}
	.icons li {
		padding: 0 1.5em 0 0;
	}
}

@media(max-width: 768px) {
	.menu-left a {
		font-size: 0.9em;
	}
	.search-form {
		position: absolute;
		top: 29px;
		left: 55%;
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.search-form:hover {
		width: 170px;
		cursor: pointer;
	}
	.search-input {
		position: absolute;
		top: 1px;
		left: 0;
		width: 80%;
		height: 24px;
		font-size: 1em;
		padding: 0 10px;
	}
	.fa {
		padding: 5px;
		width: 22.5px;
		height: 22.5px;
		position: absolute;
		top: 1.5px;
		right: 2px;
		font-size: 0.75em;
	}
	.recipe-first-part {
		width: 35%;
	}
	.recipe-second-part {
		width: 65%;
		display: block;
	}
	.recipe-description {
		width: 100%;
	}
	.recipe-buttons {
		width: 100%;
		display: flex;
	}
}

@media(max-width: 576px) {
	header nav .logotype {
		font-size: 1rem;
		padding-top: 14px;
		padding-bottom: 0px;
	}
	.search-form {
		left: 60%;
	}
	.main-page {
		display: block;
	}
	.list {
		width: 100%;
		margin-left: 0;
	}
	.recipe-box {
		display: block;
	}
	.recipe-first-part {
		width: 100%;
		border-right: none;
	}
	.recipe-second-part {
		width: 100%;
	}
}

@media(max-width:480px) {
	header nav .logotype {
		font-size: 0.95rem;
		padding-top: 14px;
	}
	.search-form:hover {
		width: 150px;
		cursor: pointer;
	}
	.icons li {
		padding: 0 1em 0 0;
	}
}

@media(max-width:340px) {
	header nav .logotype {
		font-size: 0.9rem;
		padding-top: 15px;
	}
	.search-form:hover {
		width: 150px;
		cursor: pointer;
	}
}