*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	color: black;
	overflow: visible;
	width: 100%;
	height: 100%;
	font-size: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f5f8f9;
}


/*--------------------------------*/

header:after,
.container:after,
footer:after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	width: 100%;
	position: absolute;
	padding: 35px 0;
	margin: 0 auto;
}

.header-container {
	padding: 0px 15px 0px 15px;
}

@media (min-width: 0) {
	.header-container {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 576px) {
	.header-container {
		max-width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 768px) {
	.header-container {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 992px) {
	.header-container {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@media (min-width: 1200px) {
	.header-container {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	.header-container:after {
		content: " ";
		display: block;
		clear: both;
	}
}

a {
	text-decoration: none;
	color: #000;
}

.menu-left a:hover,
a :focus {
	background-color: #ffff;
	-webkit-background-clip: text;
	/*background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);

	-webkit-text-fill-color: transparent; */
}

.menu-left a {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	transition: color .25s ease;
}

.menu-left a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 2px;
	width: 0;
	transition: width 0s ease, background .35s ease;
}

.menu-left a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: -10px;
	height: 2px;
	width: 0;
	background: #000;
	transition: width .35s ease;
}

.menu-left a:hover:before {
	width: 100%;
	background: #000;
	transition: width .35s ease;
}

.menu-left a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .5rem 0;
	background-color: #fff;
	z-index: 3;
	will-change: transform;
	transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transform: translateY(0);
	-webkit-transform: translateY(0);
	box-shadow: 5px 5px 18px -2px rgba(34, 60, 80, 0.18);
}

header nav .logotype {
	font-family: Montserrat, sans-serif;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 1rem;
	font-size: 2.25rem;
	line-height: inherit;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}

@media (max-width: 769px) {
	header nav .logotype {
		font-size: 1.2rem;
		padding-top: 12px;
		padding-bottom: 0px;
	}
}

header nav .logotype:after {
	content: '';
	display: table;
	clear: both;
}

header nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

header nav ul li {
	float: none;
	margin-left: 0;
}

@media (min-width: 769px) {
	header nav ul li {
		float: left;
		margin-left: 1rem;
	}
}

header nav ul li a {
	display: block;
}

@media (min-width: 576px) {
	header nav ul li a {
		display: block;
		padding: .325rem 0rem;
	}
}

@media (max-width: 768px) {
	ul {
		clear: both;
	}
	.menu-left li {
		padding: .5em 0;
	}
}

.hide-nav {
	transform: translateY(-120%)!important;
	-webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
	display: block;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 10;
	padding: 2px 0;
}

@media (min-width: 769px) {
	ul.menu-left {
		display: block !important;
		float: right;
		max-height: none;
		padding: 15px 0;
	}
}

ul.menu-left:before {
	content: '';
	display: table;
	clear: both;
}

ul.menu-left.collapse {
	max-height: 15em !important;
}

.nav-toggle {
	display: block;
	border-radius: 5px;
	background-color: transparent;
	float: right;
	height: 38px;
	width: 38px;
	cursor: pointer;
	padding: 9px 9px;
}

.nav-toggle.open span:first-child {
	transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.nav-toggle.open span:last-child {
	transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 769px) {
	.nav-toggle {
		display: none;
	}
}

.nav-toggle span {
	position: relative;
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 4px;
	background-color: #000;
	transition: all .25s;
}

.search-form {
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	transition: all 1s;
	width: 50px;
	height: 50px;
	background: white;
	box-sizing: border-box;
	border-radius: 25px;
	border: 2px solid #000;
	padding: 5px;
}

.search-input {
	position: absolute;
	top: 2px;
	left: 0;
	width: 90%;
	height: 42.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 26px;
	padding: 0 20px;
}

.fa {
	box-sizing: border-box;
	padding: 10.3px;
	width: 39.5px;
	height: 39.5px;
	position: absolute;
	top: 3px;
	right: 3px;
	border-radius: 50%;
	color: #07051a;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

.search-form:hover {
	width: 250px;
	cursor: pointer;
}

.search-form:hover .search-input {
	display: block;
}

.search-form:hover .fa {
	background: #07051a;
	color: white;
}

.register-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 54, 66, 0.9);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0s;
}

.register-modal.is-visible {
	visibility: visible;
	opacity: 1;
}

.register-modal-container {
	position: relative;
	width: 90%;
	max-width: 400px;
	background: #FFF;
	margin: 3em auto 4em;
	cursor: auto;
	border-radius: 10px;
	transform: translateY(-30px);
	transition-duration: 0.3s;
}

.register-modal.is-visible .register-modal-container {
	transform: translateY(0);
}

.register-modal-container .register-switcher:after {
	content: "";
	display: table;
	clear: both;
}

.register-modal-container .register-switcher li {
	width: 50%;
	float: left;
	text-align: center;
}

.register-modal-container .register-switcher li:first-child a {
	border-radius: 10px 0 0 0;
}

.register-modal-container .register-switcher li:last-child a {
	border-radius: 0 10px 0 0;
}

.register-modal-container .register-switcher a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #ddf1fe;
	color: #809191;
	transition: 0.3s;
}

.register-modal-container .register-switcher a.selected {
	background: #FFF;
	color: #505260;
}

@media only screen and (min-width: 600px) {
	.register-modal-container {
		margin: 4em auto;
	}
	.register-modal-container .register-switcher a {
		height: 70px;
		line-height: 70px;
	}
}

.register-terms{
	color: #2489cf;
}

.register-form {
	padding: 1.4em;
}

.register-form .fieldset {
	position: relative;
	margin: 1.4em 0;
}

.register-form .fieldset:first-child {
	margin-top: 0;
}

.register-form .fieldset:last-child {
	margin-bottom: 0;
}

.register-form label {
	font-size: 14px;
	font-size: 0.875rem;
}

.register-form label.register-image {
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	overflow: hidden;
}

.register-form label.register-username {
	background-image: url("svg/icon-username.svg");
}

.register-form label.register-email {
	background-image: url("svg/icon-email.svg");
}

.register-form label.register-password {
	background-image: url("svg/icon-password.svg");
}

.register-form input {
	margin: 0;
	padding: 0;
	border-radius: 0.25em;
}

.register-form .register-input {
	width: 100%;
	padding: 12px 20px 12px 50px;
	border: 1px solid #d2d8d8;
	border-radius: 10px;
}

.register-form .register-input:focus {
	border-color: #343642;
	box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
	outline: none;
}

.register-form input.has-error {
	border: 1px solid #d76666;
}

.register-form button[type=submit] {
	padding: 16px 0;
	cursor: pointer;
	background: #31abf6;
	color: #FFF;
	font-weight: bold;
	border: none;
	transition: 0.3s;
}

.register-form button[type=submit]:hover,
.register-form button[type=submit]:focus {
	background: #0a95eb;
}

.register-form .hide-password {
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px 15px;
	border-left: 1px solid #d2d8d8;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	font-size: 14px;
	font-size: 0.875rem;
	color: #343642;
}

.register-form .register-error-message {
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: -35px;
	background: rgba(215, 102, 102, 0.9);
	padding: .8em;
	z-index: 2;
	color: #FFF;
	font-size: 13px;
	font-size: 0.8125rem;
	border-radius: 10px;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s 0, visibility 0 0.2s;
}

.register-form .register-error-message::after {
	content: '';
	position: absolute;
	left: 22px;
	bottom: 100%;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.register-form .register-error-message.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s 0, visibility 0 0;
	-moz-transition: opacity 0.2s 0, visibility 0 0;
	transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
	.register-form {
		padding: 2em;
	}
	.register-form .fieldset {
		margin: 2em 0;
	}
	.register-form .fieldset:first-child {
		margin-top: 0;
	}
	.register-form .fieldset:last-child {
		margin-bottom: 0;
	}
	.register-form input.has-padding {
		padding: 16px 20px 16px 50px;
	}
	.register-form input[type=submit] {
		padding: 16px 0;
	}
}

.register-form-message {
	padding: 1.4em 1.4em 0;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.4;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.register-form-message {
		padding: 2em 2em 0;
	}
}

.register-forgot-message {
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
	transition: 0.3s;
	padding: 0 0 20px 0;
}

.register-forgot-message a:hover {
	color: #2489cf;
}

.register-close {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url("svg/icon-close.svg") no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	.register-close {
		display: none;
	}
}

#signin-window,
#signup-window,
#register-reset-password {
	display: none;
}

#signin-window.is-selected,
#signup-window.is-selected,
#register-reset-password.is-selected {
	display: block;
}

.fieldset input[type="checkbox"] {
	opacity: 0;
}

.fieldset label::before,
.fieldset label::after {
	position: absolute;
	content: "";
	display: inline-block;
}

.fieldset::before {
	height: 16px;
	width: 16px;
	border: 1px solid;
	left: 0px;
	border-radius: 6px;
}

.fieldset .label-remember-me,
.fieldset .label-agree {
	position: relative;
	display: inline-block;
	padding-left: 22px;
}

.fieldset .label-remember-me:before,
.fieldset .label-agree:before {
	height: 16px;
	width: 16px;
	border: 1px solid;
	left: 0px;
	bottom: -1px;
	border-radius: 6px;
	transition: 0.2s;
}

.fieldset .label-remember-me:after,
.fieldset .label-agree:after {
	height: 5px;
	width: 9px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	top: 3.5px;
	transition: 0.2s;
	color: #fff;
}

.fieldset input[type="checkbox"]:checked+.label-remember-me:after,
.fieldset input[type="checkbox"]:checked+.label-agree:after {
	color: #fff;
}

.fieldset input[type="checkbox"]:checked+.label-remember-me::before,
.fieldset input[type="checkbox"]:checked+.label-agree:before {
	background-color: #2489cf;
	border-color: #1d6ea6;
}

.content-box {
	margin: 100px auto;
	width: 100%;
	min-height: calc(100vh - 80px);
}

.main-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.filtr-box {
	order: 1;
	width: 30%;
	margin-right: 10px;
}

.hide {
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.accordion {
	background: #fff;
	width: 100%;
	margin: 0 auto;
	max-width: 400px;
	box-shadow: 4px 5px 15px 0px rgba(34, 60, 80, 0.2);
	border-radius: 10px;
}

.accordion-item {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.accordion-item:last-child {
	border-bottom: none;
}

.accordion-label {
	padding: 20px 0 20px 30px;
	width: 100%;
	display: block;
	font-size: 18px;
}

.accordion-label:hover {
	cursor: pointer;
}

.accordion-label:before {
	content: '';
	position: absolute;
	height: 5px;
	width: 5px;
	top: 22px;
	left: 12px;
	display: inline-block;
	border-left: 5px solid #999;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

input[type=checkbox]:checked~.accordion-label:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion-child {
	margin: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
	height: 0;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: center top;
	transform-origin: center top;
}

input[type=checkbox]:checked~.accordion-child {
	border-top: 1px solid #e0e0e0;
	background: #fff;
	padding: 1.5em 0.8em;
	height: auto;
	opacity: 1;
	transform: scale(1, 1);
}

input[type=checkbox]:checked~.accordion-child:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.checkbox:not(:last-child) {
	margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
	display: none;
}

.checkbox label {
	position: relative;
	display: inline-block;
	/*16px width of fake checkbox + 6px distance between fake checkbox and text*/
	padding-left: 22px;
	width: 100%;
}

.checkbox label::before,
.checkbox label::after {
	position: absolute;
	content: "";
	/*Needed for the line-height to take effect*/
	display: inline-block;
}


/*Outer box of the fake checkbox*/

.checkbox label::before {
	height: 16px;
	width: 16px;
	border: 1px solid;
	left: 0px;
	border-radius: 6px;
}


/*Checkmark of the fake checkbox*/

.checkbox label::after {
	height: 5px;
	width: 9px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	top: 4px;
}


/*Hide the checkmark by default*/

.checkbox input[type="checkbox"]+label::after {
	content: none;
}


/*Unhide on the checked state*/

.checkbox input[type="checkbox"]:checked+label::after {
	content: "";
}


/*Adding focus styles on the outer-box of the fake checkbox*/

.checkbox input[type="checkbox"]:checked+label::before {
	background-color: #2489cf;
	border-color: #1d6ea6;
}

.checkbox input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.filtr-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0 5px;
}

.sticker-container-filtr {
	padding: 1.5em 0.5em;
	width: 50%;
	text-align: center;
}

.sticker-filtr-content,
.sticker-drop-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-filtr-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f0b0";
	font-family: FontAwesome;
}

.sticker-drop-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f014";
	font-family: FontAwesome;
}

.sticker-drop,
.sticker-filtr {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-drop-content,
.sticker-filtr-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-filtr:hover .sticker-filtr-content:before,
.sticker-drop:hover .sticker-drop-content:before {
	color: #2489cf;
}

.sticker-filtr:hover .sticker-filtr-content,
.sticker-drop:hover .sticker-drop-content {
	border-color: #2489cf;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 10px;
	order: 2;
	width: 65%;
}

.recipe-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 4px 5px 15px 0px rgba(34, 60, 80, 0.2);
}

.recipe-first-part {
	order: 1;
	width: 50%;
	padding: 2em 1em 0.5em 1em;
	border-right: 1px solid rgba(0, 0, 0, .075);
}

.dish-name {
	margin-bottom: 20px;
	text-align: center;
}

.dish-photo {
	margin-bottom: 5px;
}

.dish-photo img {
	width: 100%;
	border-radius: 10px;
}

.recipe-tags {
	display: flex;
	flex-wrap: wrap;
}

.tag-content {
	padding: 0px 5px;
}

.tag {
	height: 32px;
	width: auto;
	padding: 0 20px 0 20px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 32px;
	background: #87CEFA;
	border: 1px solid rgba(0, 0, 0, .075);
	border-radius: 10px;
}

.recipe-second-part {
	order: 2;
	width: 50%;
}

.recipe-description {
	width: 100%;
	padding: 2em 1.5em;
	text-align: center;
}

.description-name {
	margin-bottom: 20px;
}

.description-text {
	text-align: start;
	line-height: 1.3em;
}

.recipe-characterisctics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .075);
	border-bottom: 1px solid rgba(0, 0, 0, .075);
}

.recipe-time,
.recipe-calories {
	display: block;
	position: relative;
}

.recipe-time:before {
	display: block;
	color: gold;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f017";
	font-family: FontAwesome;
}

.recipe-calories:before {
	display: block;
	color: gold;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f0e7";
	font-family: FontAwesome;
}

.recipe-time {
	width: 50%;
	border-right: 1px solid rgba(0, 0, 0, .075);
}

.recipe-time,
.recipe-calories {
	width: 50%;
	padding: 1em 1em;
}

.calories-name {
	margin-bottom: 20px;
	text-align: center;
}

.name-span {
	padding-top: 10px;
	width: 30%;
	margin: 0 auto;
	border-bottom: 1px solid rgb(183, 183, 183);
}

.recipe-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.sticker-container {
	padding: 1.5em 1em;
	width: 50%;
	text-align: center;
}

.sticker-plus-content,
.sticker-more-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-plus-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 7px 10px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f097";
	font-family: FontAwesome;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-plus:hover .sticker-plus-content:before,
.sticker-more:hover .sticker-more-content:before {
	color: #2489cf;
}

.sticker-more,
.sticker-plus {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-more-content,
.sticker-plus-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-more:hover .sticker-more-content,
.sticker-plus:hover .sticker-plus-content {
	border-color: #2489cf;
}

.gradient-barier {
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #adcae1 74%);
	width: 100%;
	height: 5px;
	margin-top: -3px;
}

footer {
	padding: 1em 0;
	background-color: #ecf0f4;
	text-align: center;
}

.made-by {
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}

.foxleren {
	font-family: 'Courgette', cursive;
	font-size: 2em;
}

.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	font-size: 1.25em;
}

.icons li {
	display: inline-block;
	padding: 0 3em 0 0;
}

.icons li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	border-bottom: none;
	position: relative;
	font-size: 1.65em;
}

.icons li a:hover {
	color: #ffff;
	transition: 0.35s ease;
}

.icon:before {
	font-family: 'Font Awesome 5 Brands';
}

.button-show {
	text-align: center;
}

.sticker-container-show {
	padding: 1.5em 1em;
	text-align: center;
}

.sticker-show-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-show-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 5px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f078";
	font-family: FontAwesome;
}

.sticker-show:hover .sticker-show-content:before {
	color: #2489cf;
}

.sticker-show-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-show:hover .sticker-show-content {
	border-color: #2489cf;
}

@media(max-width: 968px) {
	.content-box {
		padding: 0 20px;
	}
	.recipe-box {
		display: block;
	}
	.recipe-first-part {
		width: 100%;
		border-right: none;
	}
	.recipe-second-part {
		width: 100%;
	}
	.recipe-description {
		padding: 0em 1.5em 1em 1.5em;
	}
	.recipe-time,
	.recipe-calories {
		padding: 1em 1em;
	}
	.icons li {
		padding: 0 1.5em 0 0;
	}
}

@media(max-width: 768px) {
	.menu-left a {
		font-size: 0.9em;
	}
	.search-form {
		position: absolute;
		top: 29px;
		left: 55%;
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.search-form:hover {
		width: 170px;
		cursor: pointer;
	}
	.search-input {
		position: absolute;
		top: 1px;
		left: 0;
		width: 80%;
		height: 24px;
		font-size: 1em;
		padding: 0 10px;
	}
	.fa {
		padding: 5px;
		width: 22.5px;
		height: 22.5px;
		position: absolute;
		top: 1.5px;
		right: 2px;
		font-size: 0.75em;
	}
}

@media(max-width: 650px) {
	header nav .logotype {
		font-size: 1rem;
		padding-top: 14px;
		padding-bottom: 0px;
	}
	.search-form {
		left: 60%;
	}
	.main-page {
		display: block;
	}
	.filtr-box {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.list {
		width: 100%;
		margin-left: 0;
	}
}

@media(max-width:480px) {
	header nav .logotype {
		font-size: 0.95rem;
		padding-top: 14px;
	}
	.search-form:hover {
		width: 150px;
		cursor: pointer;
	}
	.icons li {
		padding: 0 1em 0 0;
	}
}

@media(max-width:340px) {
	header nav .logotype {
		font-size: 0.9rem;
		padding-top: 15px;
	}
	.search-form:hover {
		width: 150px;
		cursor: pointer;
	}
}

a.disabled {
	pointer-events: none;
	cursor: default;
	color: #888;
}

.sticker-more-content,
.sticker-delete-content {
	display: block;
	margin: 0 auto;
	position: relative;
}

.sticker-more-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.5em;
	content: "\f02d";
	font-family: FontAwesome;
}

.sticker-delete-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 6px;
	position: relative;
	margin: 0 auto;
	font-size: 1.6em;
	content: "\f05e";
	font-family: FontAwesome;
}

.sticker-more:hover .sticker-more-content:before,
.sticker-delete:hover .sticker-delete-content:before {
	color: #2489cf;
}

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}.sticker-more:hover .sticker-more-content:before,
 .sticker-delete:hover .sticker-delete-content:before {
	 color: #2489cf;
 }

.sticker-delete,
.sticker-more {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.sticker-delete-content,
.sticker-more-content {
	height: 50px;
	width: 50px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 32px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-delete:hover .sticker-delete-content,
.sticker-more:hover .sticker-more-content {
	border-color: #2489cf;
}

.button-show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.sticker-container-show {
	padding: 1.5em 0.3em;
	text-align: center;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	width: 20%;
	display: block;
	margin: 0 auto;
	position: relative;
}
.sticker-begin-content:before,
.sticker-back-content:before,
.sticker-active-content:before,
.sticker-next-content:before,
.sticker-end-content:before {
	display: block;
	color: rgba(0, 0, 0, .075);
	padding: 6px 5px;
	position: relative;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.2em;
}

.sticker-begin-content:before {
	content: "\f100";
	font-family: FontAwesome;
}
.sticker-back-content:before {
	content: "\f104";
	font-family: FontAwesome;
}
.sticker-active-content:before {
	content: "5";
	font-weight: 600;
}
.sticker-next-content:before {
	content: "\f105";
	font-family: FontAwesome;
}
.sticker-end-content:before {

	content: "\f101";
	font-family: FontAwesome;
}



.sticker-show:hover .sticker-begin-content:before,
.sticker-show:hover .sticker-back-content:before,
.sticker-show:hover .sticker-active-content:before,
.sticker-show:hover .sticker-next-content:before,
.sticker-show:hover .sticker-end-content:before {
	color: #2489cf;
}

.sticker-begin-content,
.sticker-back-content,
.sticker-active-content,
.sticker-next-content,
.sticker-end-content {
	height: 40px;
	width: 40px;
	color: black;
	transition: 0.3s linear;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 23px;
	background: rgba(0, 0, 0, .01);
	border: 3px solid rgba(0, 0, 0, .075);
	border-radius: 25px;
}

.sticker-show:hover .sticker-begin-content,
.sticker-show:hover .sticker-back-content,
.sticker-show:hover .sticker-active-content,
.sticker-show:hover .sticker-next-content,
.sticker-show:hover .sticker-end-content {
	border-color: #2489cf;
}

.sticker-begin-content,
.sticker-back-content, .sticker-active-content,
.sticker-next-content, .sticker-end-content {
	height: 30px;
	width: 30px;
	line-height: 12px;
}
.sticker-begin-content:before,
.sticker-back-content:before,
.sticker-active-content:before,
.sticker-next-content:before,
.sticker-end-content:before {
	font-size: 0.9em;
}
.sticker-begin-content:before,
.sticker-back-content:before {
	font-size: 0.9em;
	left: 0px;
}
.sticker-next-content:before,
.sticker-end-content:before {
	font-size: 0.9em;
	left: 1px;
}